/*
@ Flexbox Grid Version 1.5.0  - https://github.com/thealico/flexboxgrid
@ Front-end Developer by Ali Akman (alico) 
@ http://akman.me  */
[class*="row"] {
  --rg:1rem;
  --cg:1rem;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  column-gap: var(--cg);
  row-gap: var(--rg); }

[class*="row"] > [class*="col"] {
  flex: 1 1 0%;
  box-sizing: border-box; }

[class*="row"] > [class*="col-"] {
  flex: none; }

[class*="row"] > .col {
  flex: 1 1 0%; }

[class*="row"][class*="col"] {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0; }

.row-1 > [class*="col"] {
  flex-basis: calc( 100% - var(--cg) );
  max-width: calc( 100% - var(--cg) ); }

.row-2 > [class*="col"] {
  flex-basis: calc( 50% - var(--cg) );
  max-width: calc( 50% - var(--cg) ); }

.row-3 > [class*="col"] {
  flex-basis: calc( 33.3333333333% - var(--cg) );
  max-width: calc( 33.3333333333% - var(--cg) ); }

.row-4 > [class*="col"] {
  flex-basis: calc( 25% - var(--cg) );
  max-width: calc( 25% - var(--cg) ); }

.row-5 > [class*="col"] {
  flex-basis: calc( 20% - var(--cg) );
  max-width: calc( 20% - var(--cg) ); }

.row-6 > [class*="col"] {
  flex-basis: calc( 16.6666666667% - var(--cg) );
  max-width: calc( 16.6666666667% - var(--cg) ); }

.row-7 > [class*="col"] {
  flex-basis: calc( 14.2857142857% - var(--cg) );
  max-width: calc( 14.2857142857% - var(--cg) ); }

.row-8 > [class*="col"] {
  flex-basis: calc( 12.5% - var(--cg) );
  max-width: calc( 12.5% - var(--cg) ); }

.row-9 > [class*="col"] {
  flex-basis: calc( 11.1111111111% - var(--cg) );
  max-width: calc( 11.1111111111% - var(--cg) ); }

.row-10 > [class*="col"] {
  flex-basis: calc( 10% - var(--cg) );
  max-width: calc( 10% - var(--cg) ); }

.row-11 > [class*="col"] {
  flex-basis: calc( 9.0909090909% - var(--cg) );
  max-width: calc( 9.0909090909% - var(--cg) ); }

.row-12 > [class*="col"] {
  flex-basis: calc( 8.3333333333% - var(--cg) );
  max-width: calc( 8.3333333333% - var(--cg) ); }

[class*="row"] > .col-1 {
  flex-basis: calc( 8.3333333333% - var(--cg) );
  max-width: calc( 8.3333333333% - var(--cg) ); }

[class*="row"] > .col-2 {
  flex-basis: calc( 16.6666666667% - var(--cg) );
  max-width: calc( 16.6666666667% - var(--cg) ); }

[class*="row"] > .col-3 {
  flex-basis: calc( 25% - var(--cg) );
  max-width: calc( 25% - var(--cg) ); }

[class*="row"] > .col-4 {
  flex-basis: calc( 33.3333333333% - var(--cg) );
  max-width: calc( 33.3333333333% - var(--cg) ); }

[class*="row"] > .col-5 {
  flex-basis: calc( 41.6666666667% - var(--cg) );
  max-width: calc( 41.6666666667% - var(--cg) ); }

[class*="row"] > .col-6 {
  flex-basis: calc( 50% - var(--cg) );
  max-width: calc( 50% - var(--cg) ); }

[class*="row"] > .col-7 {
  flex-basis: calc( 58.3333333333% - var(--cg) );
  max-width: calc( 58.3333333333% - var(--cg) ); }

[class*="row"] > .col-8 {
  flex-basis: calc( 66.6666666667% - var(--cg) );
  max-width: calc( 66.6666666667% - var(--cg) ); }

[class*="row"] > .col-9 {
  flex-basis: calc( 75% - var(--cg) );
  max-width: calc( 75% - var(--cg) ); }

[class*="row"] > .col-10 {
  flex-basis: calc( 83.3333333333% - var(--cg) );
  max-width: calc( 83.3333333333% - var(--cg) ); }

[class*="row"] > .col-11 {
  flex-basis: calc( 91.6666666667% - var(--cg) );
  max-width: calc( 91.6666666667% - var(--cg) ); }

[class*="row"] > .col-12 {
  flex-basis: calc( 100% - var(--cg) );
  max-width: calc( 100% - var(--cg) ); }

[class*="row"].gut-1 {
  --cg:1.5rem;
  --rg:1.5rem; }
  [class*="row"].gut-1.c-op {
    --cg:1.5rem; }
  [class*="row"].gut-1 .tc-ob {
    padding-bottom: 1.5rem; }

[class*="row"].gut-2 {
  --cg:2.5rem;
  --rg:2.5rem; }
  [class*="row"].gut-2.c-op {
    --cg:2.5rem; }
  [class*="row"].gut-2 .tc-ob {
    padding-bottom: 2.5rem; }

[class*="row"].-gut-1 {
  --cg:0.6rem;
  --rg:0.6rem; }
  [class*="row"].-gut-1.c-op {
    --cg:0.6rem; }
  [class*="row"].-gut-1 .tc-ob {
    padding-bottom: 0.6rem; }

[class*="row"].-gut-2 {
  --cg:0.3rem;
  --rg:0.3rem; }
  [class*="row"].-gut-2.c-op {
    --cg:0.3rem; }
  [class*="row"].-gut-2 .tc-ob {
    padding-bottom: 0.3rem; }

[class*="row"].gut-0 {
  --cg:1rem;
  --rg:1rem; }
  [class*="row"].gut-0.c-op {
    --cg:1rem; }
  [class*="row"].gut-0 .tc-ob {
    padding-bottom: 1rem; }

[class*="row"].center {
  justify-content: center; }
[class*="row"].end {
  justify-content: flex-end; }
[class*="row"].start {
  justify-content: flex-start; }
[class*="row"].between {
  justify-content: space-between; }
[class*="row"].around {
  justify-content: space-around; }
[class*="row"].top {
  align-items: flex-start; }
[class*="row"].middle {
  align-items: center; }
[class*="row"].bottom {
  align-items: flex-end; }
[class*="row"].stretch {
  align-items: stretch; }
[class*="row"].baseline {
  align-items: baseline; }
[class*="row"].direct-x {
  flex-direction: row; }
[class*="row"].direct-xr {
  flex-direction: row-reverse; }
[class*="row"].direct-yr {
  flex-direction: column-reverse; }
[class*="row"].direct-y {
  flex-direction: column; }
[class*="row"].direct-yr > [class*="col"], [class*="row"].direct-y > [class*="col"] {
  flex-basis: auto;
  width: 100%; }
[class*="row"].c-op {
  column-gap: var(--cg); }
[class*="row"].c-nb {
  row-gap: 0; }
[class*="row"].c-ob {
  row-gap: var(--cg); }
[class*="row"].c-nf > * {
  flex: none; }
[class*="row"].nsc {
  margin-left: auto;
  margin-right: auto; }
[class*="row"].ns, [class*="row"].nsc {
  --rg:0;
  --cg:0 ; }
[class*="row"].c-eh > * > * {
  height: 100%;
  width: 100%;
  display: block; }
[class*="row"].c-eh-2 > * {
  display: flex; }
  [class*="row"].c-eh-2 > * > * {
    flex: 1 0 100%; }

[class*="row"] .tc-top {
  align-self: flex-start; }
[class*="row"] .tc-middle {
  align-self: center; }
[class*="row"] .tc-bottom {
  align-self: flex-end; }
[class*="row"] .tc-first {
  order: -1; }
[class*="row"] .tc-last {
  order: 1; }
[class*="row"] .tc-ns {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; }
[class*="row"] .tc-ob {
  padding-bottom: 1rem; }
[class*="row"] .tc-nb {
  padding-bottom: 0 !important; }

[class*="row"] > *.left-0 {
  margin-left: 0; }
[class*="row"] > *.right-0 {
  margin-right: 0; }
[class*="row"] > *.left-1 {
  margin-left: 8.3333333333%; }
[class*="row"] > *.left-2 {
  margin-left: 16.6666666667%; }
[class*="row"] > *.left-3 {
  margin-left: 25%; }
[class*="row"] > *.left-4 {
  margin-left: 33.3333333333%; }
[class*="row"] > *.left-5 {
  margin-left: 41.6666666667%; }
[class*="row"] > *.left-6 {
  margin-left: 50%; }
[class*="row"] > *.left-7 {
  margin-left: 58.3333333333%; }
[class*="row"] > *.left-8 {
  margin-left: 66.6666666667%; }
[class*="row"] > *.left-9 {
  margin-left: 75%; }
[class*="row"] > *.left-10 {
  margin-left: 83.3333333333%; }
[class*="row"] > *.left-11 {
  margin-left: 91.6666666667%; }
[class*="row"] > *.right-1 {
  margin-right: 8.3333333333%; }
[class*="row"] > *.right-2 {
  margin-right: 16.6666666667%; }
[class*="row"] > *.right-3 {
  margin-right: 25%; }
[class*="row"] > *.right-4 {
  margin-right: 33.3333333333%; }
[class*="row"] > *.right-5 {
  margin-right: 41.6666666667%; }
[class*="row"] > *.right-6 {
  margin-right: 50%; }
[class*="row"] > *.right-7 {
  margin-right: 58.3333333333%; }
[class*="row"] > *.right-8 {
  margin-right: 66.6666666667%; }
[class*="row"] > *.right-9 {
  margin-right: 75%; }
[class*="row"] > *.right-10 {
  margin-right: 83.3333333333%; }
[class*="row"] > *.right-11 {
  margin-right: 91.6666666667%; }

[class*="row"] > .order-1 {
  order: 1; }

[class*="row"] > .order-2 {
  order: 2; }

[class*="row"] > .order-3 {
  order: 3; }

[class*="row"] > .order-4 {
  order: 4; }

[class*="row"] > .order-5 {
  order: 5; }

[class*="row"] > .order-6 {
  order: 6; }

[class*="row"] > .order-7 {
  order: 7; }

[class*="row"] > .order-8 {
  order: 8; }

[class*="row"] > .order-9 {
  order: 9; }

[class*="row"] > .order-10 {
  order: 10; }

[class*="row"] > .order-11 {
  order: 11; }

[class*="row"] > .order-12 {
  order: 12; }

[class*="row"] > .order-13 {
  order: 13; }

[class*="row"] > .order-14 {
  order: 14; }

[class*="row"] > .order-15 {
  order: 15; }

[class*="row"] > .order-16 {
  order: 16; }

[class*="row"] > .order-17 {
  order: 17; }

[class*="row"] > .order-18 {
  order: 18; }

[class*="row"] > .order-19 {
  order: 19; }

[class*="row"] > .order-20 {
  order: 20; }

@media screen and (max-width: 80em) {
  .row-lg-1 > [class*="col"] {
    flex-basis: calc( 100% - var(--cg) );
    max-width: calc( 100% - var(--cg) ); }

  .row-lg-2 > [class*="col"] {
    flex-basis: calc( 50% - var(--cg) );
    max-width: calc( 50% - var(--cg) ); }

  .row-lg-3 > [class*="col"] {
    flex-basis: calc( 33.3333333333% - var(--cg) );
    max-width: calc( 33.3333333333% - var(--cg) ); }

  .row-lg-4 > [class*="col"] {
    flex-basis: calc( 25% - var(--cg) );
    max-width: calc( 25% - var(--cg) ); }

  .row-lg-5 > [class*="col"] {
    flex-basis: calc( 20% - var(--cg) );
    max-width: calc( 20% - var(--cg) ); }

  .row-lg-6 > [class*="col"] {
    flex-basis: calc( 16.6666666667% - var(--cg) );
    max-width: calc( 16.6666666667% - var(--cg) ); }

  .row-lg-7 > [class*="col"] {
    flex-basis: calc( 14.2857142857% - var(--cg) );
    max-width: calc( 14.2857142857% - var(--cg) ); }

  .row-lg-8 > [class*="col"] {
    flex-basis: calc( 12.5% - var(--cg) );
    max-width: calc( 12.5% - var(--cg) ); }

  .row-lg-9 > [class*="col"] {
    flex-basis: calc( 11.1111111111% - var(--cg) );
    max-width: calc( 11.1111111111% - var(--cg) ); }

  .row-lg-10 > [class*="col"] {
    flex-basis: calc( 10% - var(--cg) );
    max-width: calc( 10% - var(--cg) ); }

  .row-lg-11 > [class*="col"] {
    flex-basis: calc( 9.0909090909% - var(--cg) );
    max-width: calc( 9.0909090909% - var(--cg) ); }

  .row-lg-12 > [class*="col"] {
    flex-basis: calc( 8.3333333333% - var(--cg) );
    max-width: calc( 8.3333333333% - var(--cg) ); }

  [class*="row"] > .col-lg-1 {
    flex-basis: calc( 8.3333333333% - var(--cg) );
    max-width: calc( 8.3333333333% - var(--cg) ); }

  [class*="row"] > .col-lg-2 {
    flex-basis: calc( 16.6666666667% - var(--cg) );
    max-width: calc( 16.6666666667% - var(--cg) ); }

  [class*="row"] > .col-lg-3 {
    flex-basis: calc( 25% - var(--cg) );
    max-width: calc( 25% - var(--cg) ); }

  [class*="row"] > .col-lg-4 {
    flex-basis: calc( 33.3333333333% - var(--cg) );
    max-width: calc( 33.3333333333% - var(--cg) ); }

  [class*="row"] > .col-lg-5 {
    flex-basis: calc( 41.6666666667% - var(--cg) );
    max-width: calc( 41.6666666667% - var(--cg) ); }

  [class*="row"] > .col-lg-6 {
    flex-basis: calc( 50% - var(--cg) );
    max-width: calc( 50% - var(--cg) ); }

  [class*="row"] > .col-lg-7 {
    flex-basis: calc( 58.3333333333% - var(--cg) );
    max-width: calc( 58.3333333333% - var(--cg) ); }

  [class*="row"] > .col-lg-8 {
    flex-basis: calc( 66.6666666667% - var(--cg) );
    max-width: calc( 66.6666666667% - var(--cg) ); }

  [class*="row"] > .col-lg-9 {
    flex-basis: calc( 75% - var(--cg) );
    max-width: calc( 75% - var(--cg) ); }

  [class*="row"] > .col-lg-10 {
    flex-basis: calc( 83.3333333333% - var(--cg) );
    max-width: calc( 83.3333333333% - var(--cg) ); }

  [class*="row"] > .col-lg-11 {
    flex-basis: calc( 91.6666666667% - var(--cg) );
    max-width: calc( 91.6666666667% - var(--cg) ); }

  [class*="row"] > .col-lg-12 {
    flex-basis: calc( 100% - var(--cg) );
    max-width: calc( 100% - var(--cg) ); }

  [class*="row"].gut-1-lg {
    --cg:1.5rem;
    --rg:1.5rem; }
    [class*="row"].gut-1-lg.c-op {
      --cg:1.5rem; }
    [class*="row"].gut-1-lg.c-ob {
      --rg:1.5rem ; }
    [class*="row"].gut-1-lg.c-ob-lg {
      --rg:1.5rem ; }
    [class*="row"].gut-1-lg.c-ob-md {
      --rg:1.5rem ; }
    [class*="row"].gut-1-lg.c-ob-sm {
      --rg:1.5rem ; }
    [class*="row"].gut-1-lg.c-ob-xs {
      --rg:1.5rem ; }
    [class*="row"].gut-1-lg.c-ob-ms {
      --rg:1.5rem ; }
    [class*="row"].gut-1-lg .tc-lg-ob {
      padding-bottom: 1.5rem; }

  [class*="row"].gut-2-lg {
    --cg:2.5rem;
    --rg:2.5rem; }
    [class*="row"].gut-2-lg.c-op {
      --cg:2.5rem; }
    [class*="row"].gut-2-lg.c-ob {
      --rg:2.5rem ; }
    [class*="row"].gut-2-lg.c-ob-lg {
      --rg:2.5rem ; }
    [class*="row"].gut-2-lg.c-ob-md {
      --rg:2.5rem ; }
    [class*="row"].gut-2-lg.c-ob-sm {
      --rg:2.5rem ; }
    [class*="row"].gut-2-lg.c-ob-xs {
      --rg:2.5rem ; }
    [class*="row"].gut-2-lg.c-ob-ms {
      --rg:2.5rem ; }
    [class*="row"].gut-2-lg .tc-lg-ob {
      padding-bottom: 2.5rem; }

  [class*="row"].-gut-1-lg {
    --cg:0.6rem;
    --rg:0.6rem; }
    [class*="row"].-gut-1-lg.c-op {
      --cg:0.6rem; }
    [class*="row"].-gut-1-lg.c-ob {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-lg.c-ob-lg {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-lg.c-ob-md {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-lg.c-ob-sm {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-lg.c-ob-xs {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-lg.c-ob-ms {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-lg .tc-lg-ob {
      padding-bottom: 0.6rem; }

  [class*="row"].-gut-2-lg {
    --cg:0.3rem;
    --rg:0.3rem; }
    [class*="row"].-gut-2-lg.c-op {
      --cg:0.3rem; }
    [class*="row"].-gut-2-lg.c-ob {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-lg.c-ob-lg {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-lg.c-ob-md {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-lg.c-ob-sm {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-lg.c-ob-xs {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-lg.c-ob-ms {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-lg .tc-lg-ob {
      padding-bottom: 0.3rem; }

  [class*="row"].gut-0-lg {
    --cg:1rem;
    --rg:1rem; }
    [class*="row"].gut-0-lg.c-op {
      --cg:1rem; }
    [class*="row"].gut-0-lg.c-ob {
      --rg:1rem ; }
    [class*="row"].gut-0-lg.c-ob-lg {
      --rg:1rem ; }
    [class*="row"].gut-0-lg.c-ob-md {
      --rg:1rem ; }
    [class*="row"].gut-0-lg.c-ob-sm {
      --rg:1rem ; }
    [class*="row"].gut-0-lg.c-ob-xs {
      --rg:1rem ; }
    [class*="row"].gut-0-lg.c-ob-ms {
      --rg:1rem ; }
    [class*="row"].gut-0-lg .tc-lg-ob {
      padding-bottom: 1rem; }

  [class*="row"].center-lg {
    justify-content: center; }
  [class*="row"].end-lg {
    justify-content: flex-end; }
  [class*="row"].start-lg {
    justify-content: flex-start; }
  [class*="row"].between-lg {
    justify-content: space-between; }
  [class*="row"].around-lg {
    justify-content: space-around; }
  [class*="row"].top-lg {
    align-items: flex-start; }
  [class*="row"].middle-lg {
    align-items: center; }
  [class*="row"].bottom-lg {
    align-items: flex-end; }
  [class*="row"].stretch-lg {
    align-items: stretch; }
  [class*="row"].baseline-lg {
    align-items: baseline; }
  [class*="row"].direct-x-lg {
    flex-direction: row; }
  [class*="row"].direct-xr-lg {
    flex-direction: row-reverse; }
  [class*="row"].direct-yr-lg {
    flex-direction: column-reverse; }
  [class*="row"].direct-y-lg {
    flex-direction: column; }
  [class*="row"].direct-yr-lg > [class*="col"], [class*="row"].direct-y-lg > [class*="col"] {
    flex-basis: auto;
    width: 100%; }
  [class*="row"].c-op-lg {
    column-gap: var(--cg); }
  [class*="row"].c-nb-lg {
    row-gap: 0; }
  [class*="row"].c-ob-lg {
    row-gap: var(--cg); }
  [class*="row"].c-nf-lg > * {
    flex: none; }

  [class*="row"] .tc-lg-top {
    align-self: flex-start; }
  [class*="row"] .tc-lg-middle {
    align-self: center; }
  [class*="row"] .tc-lg-bottom {
    align-self: flex-end; }
  [class*="row"] .tc-lg-first {
    order: -1; }
  [class*="row"] .tc-lg-last {
    order: 1; }
  [class*="row"] .tc-lg-ns {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
  [class*="row"] .tc-lg-ob {
    padding-bottom: 1rem; }
  [class*="row"] .tc-lg-nb {
    padding-bottom: 0 !important; }

  [class*="row"] > *.left-lg-0 {
    margin-left: 0; }
  [class*="row"] > *.right-lg-0 {
    margin-right: 0; }
  [class*="row"] > *.left-lg-1 {
    margin-left: 8.3333333333%; }
  [class*="row"] > *.left-lg-2 {
    margin-left: 16.6666666667%; }
  [class*="row"] > *.left-lg-3 {
    margin-left: 25%; }
  [class*="row"] > *.left-lg-4 {
    margin-left: 33.3333333333%; }
  [class*="row"] > *.left-lg-5 {
    margin-left: 41.6666666667%; }
  [class*="row"] > *.left-lg-6 {
    margin-left: 50%; }
  [class*="row"] > *.left-lg-7 {
    margin-left: 58.3333333333%; }
  [class*="row"] > *.left-lg-8 {
    margin-left: 66.6666666667%; }
  [class*="row"] > *.left-lg-9 {
    margin-left: 75%; }
  [class*="row"] > *.left-lg-10 {
    margin-left: 83.3333333333%; }
  [class*="row"] > *.left-lg-11 {
    margin-left: 91.6666666667%; }
  [class*="row"] > *.right-lg-1 {
    margin-right: 8.3333333333%; }
  [class*="row"] > *.right-lg-2 {
    margin-right: 16.6666666667%; }
  [class*="row"] > *.right-lg-3 {
    margin-right: 25%; }
  [class*="row"] > *.right-lg-4 {
    margin-right: 33.3333333333%; }
  [class*="row"] > *.right-lg-5 {
    margin-right: 41.6666666667%; }
  [class*="row"] > *.right-lg-6 {
    margin-right: 50%; }
  [class*="row"] > *.right-lg-7 {
    margin-right: 58.3333333333%; }
  [class*="row"] > *.right-lg-8 {
    margin-right: 66.6666666667%; }
  [class*="row"] > *.right-lg-9 {
    margin-right: 75%; }
  [class*="row"] > *.right-lg-10 {
    margin-right: 83.3333333333%; }
  [class*="row"] > *.right-lg-11 {
    margin-right: 91.6666666667%; }

  [class*="row"] > .order-lg-1 {
    order: 1; }

  [class*="row"] > .order-lg-2 {
    order: 2; }

  [class*="row"] > .order-lg-3 {
    order: 3; }

  [class*="row"] > .order-lg-4 {
    order: 4; }

  [class*="row"] > .order-lg-5 {
    order: 5; }

  [class*="row"] > .order-lg-6 {
    order: 6; }

  [class*="row"] > .order-lg-7 {
    order: 7; }

  [class*="row"] > .order-lg-8 {
    order: 8; }

  [class*="row"] > .order-lg-9 {
    order: 9; }

  [class*="row"] > .order-lg-10 {
    order: 10; }

  [class*="row"] > .order-lg-11 {
    order: 11; }

  [class*="row"] > .order-lg-12 {
    order: 12; }

  [class*="row"] > .order-lg-13 {
    order: 13; }

  [class*="row"] > .order-lg-14 {
    order: 14; }

  [class*="row"] > .order-lg-15 {
    order: 15; }

  [class*="row"] > .order-lg-16 {
    order: 16; }

  [class*="row"] > .order-lg-17 {
    order: 17; }

  [class*="row"] > .order-lg-18 {
    order: 18; }

  [class*="row"] > .order-lg-19 {
    order: 19; }

  [class*="row"] > .order-lg-20 {
    order: 20; } }
@media screen and (max-width: 64em) {
  .row-md-1 > [class*="col"] {
    flex-basis: calc( 100% - var(--cg) );
    max-width: calc( 100% - var(--cg) ); }

  .row-md-2 > [class*="col"] {
    flex-basis: calc( 50% - var(--cg) );
    max-width: calc( 50% - var(--cg) ); }

  .row-md-3 > [class*="col"] {
    flex-basis: calc( 33.3333333333% - var(--cg) );
    max-width: calc( 33.3333333333% - var(--cg) ); }

  .row-md-4 > [class*="col"] {
    flex-basis: calc( 25% - var(--cg) );
    max-width: calc( 25% - var(--cg) ); }

  .row-md-5 > [class*="col"] {
    flex-basis: calc( 20% - var(--cg) );
    max-width: calc( 20% - var(--cg) ); }

  .row-md-6 > [class*="col"] {
    flex-basis: calc( 16.6666666667% - var(--cg) );
    max-width: calc( 16.6666666667% - var(--cg) ); }

  .row-md-7 > [class*="col"] {
    flex-basis: calc( 14.2857142857% - var(--cg) );
    max-width: calc( 14.2857142857% - var(--cg) ); }

  .row-md-8 > [class*="col"] {
    flex-basis: calc( 12.5% - var(--cg) );
    max-width: calc( 12.5% - var(--cg) ); }

  .row-md-9 > [class*="col"] {
    flex-basis: calc( 11.1111111111% - var(--cg) );
    max-width: calc( 11.1111111111% - var(--cg) ); }

  .row-md-10 > [class*="col"] {
    flex-basis: calc( 10% - var(--cg) );
    max-width: calc( 10% - var(--cg) ); }

  .row-md-11 > [class*="col"] {
    flex-basis: calc( 9.0909090909% - var(--cg) );
    max-width: calc( 9.0909090909% - var(--cg) ); }

  .row-md-12 > [class*="col"] {
    flex-basis: calc( 8.3333333333% - var(--cg) );
    max-width: calc( 8.3333333333% - var(--cg) ); }

  [class*="row"] > .col-md-1 {
    flex-basis: calc( 8.3333333333% - var(--cg) );
    max-width: calc( 8.3333333333% - var(--cg) ); }

  [class*="row"] > .col-md-2 {
    flex-basis: calc( 16.6666666667% - var(--cg) );
    max-width: calc( 16.6666666667% - var(--cg) ); }

  [class*="row"] > .col-md-3 {
    flex-basis: calc( 25% - var(--cg) );
    max-width: calc( 25% - var(--cg) ); }

  [class*="row"] > .col-md-4 {
    flex-basis: calc( 33.3333333333% - var(--cg) );
    max-width: calc( 33.3333333333% - var(--cg) ); }

  [class*="row"] > .col-md-5 {
    flex-basis: calc( 41.6666666667% - var(--cg) );
    max-width: calc( 41.6666666667% - var(--cg) ); }

  [class*="row"] > .col-md-6 {
    flex-basis: calc( 50% - var(--cg) );
    max-width: calc( 50% - var(--cg) ); }

  [class*="row"] > .col-md-7 {
    flex-basis: calc( 58.3333333333% - var(--cg) );
    max-width: calc( 58.3333333333% - var(--cg) ); }

  [class*="row"] > .col-md-8 {
    flex-basis: calc( 66.6666666667% - var(--cg) );
    max-width: calc( 66.6666666667% - var(--cg) ); }

  [class*="row"] > .col-md-9 {
    flex-basis: calc( 75% - var(--cg) );
    max-width: calc( 75% - var(--cg) ); }

  [class*="row"] > .col-md-10 {
    flex-basis: calc( 83.3333333333% - var(--cg) );
    max-width: calc( 83.3333333333% - var(--cg) ); }

  [class*="row"] > .col-md-11 {
    flex-basis: calc( 91.6666666667% - var(--cg) );
    max-width: calc( 91.6666666667% - var(--cg) ); }

  [class*="row"] > .col-md-12 {
    flex-basis: calc( 100% - var(--cg) );
    max-width: calc( 100% - var(--cg) ); }

  [class*="row"].gut-1-md {
    --cg:1.5rem;
    --rg:1.5rem; }
    [class*="row"].gut-1-md.c-op {
      --cg:1.5rem; }
    [class*="row"].gut-1-md.c-ob {
      --rg:1.5rem ; }
    [class*="row"].gut-1-md.c-ob-lg {
      --rg:1.5rem ; }
    [class*="row"].gut-1-md.c-ob-md {
      --rg:1.5rem ; }
    [class*="row"].gut-1-md.c-ob-sm {
      --rg:1.5rem ; }
    [class*="row"].gut-1-md.c-ob-xs {
      --rg:1.5rem ; }
    [class*="row"].gut-1-md.c-ob-ms {
      --rg:1.5rem ; }
    [class*="row"].gut-1-md .tc-md-ob {
      padding-bottom: 1.5rem; }

  [class*="row"].gut-2-md {
    --cg:2.5rem;
    --rg:2.5rem; }
    [class*="row"].gut-2-md.c-op {
      --cg:2.5rem; }
    [class*="row"].gut-2-md.c-ob {
      --rg:2.5rem ; }
    [class*="row"].gut-2-md.c-ob-lg {
      --rg:2.5rem ; }
    [class*="row"].gut-2-md.c-ob-md {
      --rg:2.5rem ; }
    [class*="row"].gut-2-md.c-ob-sm {
      --rg:2.5rem ; }
    [class*="row"].gut-2-md.c-ob-xs {
      --rg:2.5rem ; }
    [class*="row"].gut-2-md.c-ob-ms {
      --rg:2.5rem ; }
    [class*="row"].gut-2-md .tc-md-ob {
      padding-bottom: 2.5rem; }

  [class*="row"].-gut-1-md {
    --cg:0.6rem;
    --rg:0.6rem; }
    [class*="row"].-gut-1-md.c-op {
      --cg:0.6rem; }
    [class*="row"].-gut-1-md.c-ob {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-md.c-ob-lg {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-md.c-ob-md {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-md.c-ob-sm {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-md.c-ob-xs {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-md.c-ob-ms {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-md .tc-md-ob {
      padding-bottom: 0.6rem; }

  [class*="row"].-gut-2-md {
    --cg:0.3rem;
    --rg:0.3rem; }
    [class*="row"].-gut-2-md.c-op {
      --cg:0.3rem; }
    [class*="row"].-gut-2-md.c-ob {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-md.c-ob-lg {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-md.c-ob-md {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-md.c-ob-sm {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-md.c-ob-xs {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-md.c-ob-ms {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-md .tc-md-ob {
      padding-bottom: 0.3rem; }

  [class*="row"].gut-0-md {
    --cg:1rem;
    --rg:1rem; }
    [class*="row"].gut-0-md.c-op {
      --cg:1rem; }
    [class*="row"].gut-0-md.c-ob {
      --rg:1rem ; }
    [class*="row"].gut-0-md.c-ob-lg {
      --rg:1rem ; }
    [class*="row"].gut-0-md.c-ob-md {
      --rg:1rem ; }
    [class*="row"].gut-0-md.c-ob-sm {
      --rg:1rem ; }
    [class*="row"].gut-0-md.c-ob-xs {
      --rg:1rem ; }
    [class*="row"].gut-0-md.c-ob-ms {
      --rg:1rem ; }
    [class*="row"].gut-0-md .tc-md-ob {
      padding-bottom: 1rem; }

  [class*="row"].center-md {
    justify-content: center; }
  [class*="row"].end-md {
    justify-content: flex-end; }
  [class*="row"].start-md {
    justify-content: flex-start; }
  [class*="row"].between-md {
    justify-content: space-between; }
  [class*="row"].around-md {
    justify-content: space-around; }
  [class*="row"].top-md {
    align-items: flex-start; }
  [class*="row"].middle-md {
    align-items: center; }
  [class*="row"].bottom-md {
    align-items: flex-end; }
  [class*="row"].stretch-md {
    align-items: stretch; }
  [class*="row"].baseline-md {
    align-items: baseline; }
  [class*="row"].direct-x-md {
    flex-direction: row; }
  [class*="row"].direct-xr-md {
    flex-direction: row-reverse; }
  [class*="row"].direct-yr-md {
    flex-direction: column-reverse; }
  [class*="row"].direct-y-md {
    flex-direction: column; }
  [class*="row"].direct-yr-md > [class*="col"], [class*="row"].direct-y-md > [class*="col"] {
    flex-basis: auto;
    width: 100%; }
  [class*="row"].c-op-md {
    column-gap: var(--cg); }
  [class*="row"].c-nb-md {
    row-gap: 0; }
  [class*="row"].c-ob-md {
    row-gap: var(--cg); }
  [class*="row"].c-nf-md > * {
    flex: none; }

  [class*="row"] .tc-md-top {
    align-self: flex-start; }
  [class*="row"] .tc-md-middle {
    align-self: center; }
  [class*="row"] .tc-md-bottom {
    align-self: flex-end; }
  [class*="row"] .tc-md-first {
    order: -1; }
  [class*="row"] .tc-md-last {
    order: 1; }
  [class*="row"] .tc-md-ns {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
  [class*="row"] .tc-md-ob {
    padding-bottom: 1rem; }
  [class*="row"] .tc-md-nb {
    padding-bottom: 0 !important; }

  [class*="row"] > *.left-md-0 {
    margin-left: 0; }
  [class*="row"] > *.right-md-0 {
    margin-right: 0; }
  [class*="row"] > *.left-md-1 {
    margin-left: 8.3333333333%; }
  [class*="row"] > *.left-md-2 {
    margin-left: 16.6666666667%; }
  [class*="row"] > *.left-md-3 {
    margin-left: 25%; }
  [class*="row"] > *.left-md-4 {
    margin-left: 33.3333333333%; }
  [class*="row"] > *.left-md-5 {
    margin-left: 41.6666666667%; }
  [class*="row"] > *.left-md-6 {
    margin-left: 50%; }
  [class*="row"] > *.left-md-7 {
    margin-left: 58.3333333333%; }
  [class*="row"] > *.left-md-8 {
    margin-left: 66.6666666667%; }
  [class*="row"] > *.left-md-9 {
    margin-left: 75%; }
  [class*="row"] > *.left-md-10 {
    margin-left: 83.3333333333%; }
  [class*="row"] > *.left-md-11 {
    margin-left: 91.6666666667%; }
  [class*="row"] > *.right-md-1 {
    margin-right: 8.3333333333%; }
  [class*="row"] > *.right-md-2 {
    margin-right: 16.6666666667%; }
  [class*="row"] > *.right-md-3 {
    margin-right: 25%; }
  [class*="row"] > *.right-md-4 {
    margin-right: 33.3333333333%; }
  [class*="row"] > *.right-md-5 {
    margin-right: 41.6666666667%; }
  [class*="row"] > *.right-md-6 {
    margin-right: 50%; }
  [class*="row"] > *.right-md-7 {
    margin-right: 58.3333333333%; }
  [class*="row"] > *.right-md-8 {
    margin-right: 66.6666666667%; }
  [class*="row"] > *.right-md-9 {
    margin-right: 75%; }
  [class*="row"] > *.right-md-10 {
    margin-right: 83.3333333333%; }
  [class*="row"] > *.right-md-11 {
    margin-right: 91.6666666667%; }

  [class*="row"] > .order-md-1 {
    order: 1; }

  [class*="row"] > .order-md-2 {
    order: 2; }

  [class*="row"] > .order-md-3 {
    order: 3; }

  [class*="row"] > .order-md-4 {
    order: 4; }

  [class*="row"] > .order-md-5 {
    order: 5; }

  [class*="row"] > .order-md-6 {
    order: 6; }

  [class*="row"] > .order-md-7 {
    order: 7; }

  [class*="row"] > .order-md-8 {
    order: 8; }

  [class*="row"] > .order-md-9 {
    order: 9; }

  [class*="row"] > .order-md-10 {
    order: 10; }

  [class*="row"] > .order-md-11 {
    order: 11; }

  [class*="row"] > .order-md-12 {
    order: 12; }

  [class*="row"] > .order-md-13 {
    order: 13; }

  [class*="row"] > .order-md-14 {
    order: 14; }

  [class*="row"] > .order-md-15 {
    order: 15; }

  [class*="row"] > .order-md-16 {
    order: 16; }

  [class*="row"] > .order-md-17 {
    order: 17; }

  [class*="row"] > .order-md-18 {
    order: 18; }

  [class*="row"] > .order-md-19 {
    order: 19; }

  [class*="row"] > .order-md-20 {
    order: 20; } }
@media screen and (max-width: 48em) {
  .row-sm-1 > [class*="col"] {
    flex-basis: calc( 100% - var(--cg) );
    max-width: calc( 100% - var(--cg) ); }

  .row-sm-2 > [class*="col"] {
    flex-basis: calc( 50% - var(--cg) );
    max-width: calc( 50% - var(--cg) ); }

  .row-sm-3 > [class*="col"] {
    flex-basis: calc( 33.3333333333% - var(--cg) );
    max-width: calc( 33.3333333333% - var(--cg) ); }

  .row-sm-4 > [class*="col"] {
    flex-basis: calc( 25% - var(--cg) );
    max-width: calc( 25% - var(--cg) ); }

  .row-sm-5 > [class*="col"] {
    flex-basis: calc( 20% - var(--cg) );
    max-width: calc( 20% - var(--cg) ); }

  .row-sm-6 > [class*="col"] {
    flex-basis: calc( 16.6666666667% - var(--cg) );
    max-width: calc( 16.6666666667% - var(--cg) ); }

  .row-sm-7 > [class*="col"] {
    flex-basis: calc( 14.2857142857% - var(--cg) );
    max-width: calc( 14.2857142857% - var(--cg) ); }

  .row-sm-8 > [class*="col"] {
    flex-basis: calc( 12.5% - var(--cg) );
    max-width: calc( 12.5% - var(--cg) ); }

  .row-sm-9 > [class*="col"] {
    flex-basis: calc( 11.1111111111% - var(--cg) );
    max-width: calc( 11.1111111111% - var(--cg) ); }

  .row-sm-10 > [class*="col"] {
    flex-basis: calc( 10% - var(--cg) );
    max-width: calc( 10% - var(--cg) ); }

  .row-sm-11 > [class*="col"] {
    flex-basis: calc( 9.0909090909% - var(--cg) );
    max-width: calc( 9.0909090909% - var(--cg) ); }

  .row-sm-12 > [class*="col"] {
    flex-basis: calc( 8.3333333333% - var(--cg) );
    max-width: calc( 8.3333333333% - var(--cg) ); }

  [class*="row"] > .col-sm-1 {
    flex-basis: calc( 8.3333333333% - var(--cg) );
    max-width: calc( 8.3333333333% - var(--cg) ); }

  [class*="row"] > .col-sm-2 {
    flex-basis: calc( 16.6666666667% - var(--cg) );
    max-width: calc( 16.6666666667% - var(--cg) ); }

  [class*="row"] > .col-sm-3 {
    flex-basis: calc( 25% - var(--cg) );
    max-width: calc( 25% - var(--cg) ); }

  [class*="row"] > .col-sm-4 {
    flex-basis: calc( 33.3333333333% - var(--cg) );
    max-width: calc( 33.3333333333% - var(--cg) ); }

  [class*="row"] > .col-sm-5 {
    flex-basis: calc( 41.6666666667% - var(--cg) );
    max-width: calc( 41.6666666667% - var(--cg) ); }

  [class*="row"] > .col-sm-6 {
    flex-basis: calc( 50% - var(--cg) );
    max-width: calc( 50% - var(--cg) ); }

  [class*="row"] > .col-sm-7 {
    flex-basis: calc( 58.3333333333% - var(--cg) );
    max-width: calc( 58.3333333333% - var(--cg) ); }

  [class*="row"] > .col-sm-8 {
    flex-basis: calc( 66.6666666667% - var(--cg) );
    max-width: calc( 66.6666666667% - var(--cg) ); }

  [class*="row"] > .col-sm-9 {
    flex-basis: calc( 75% - var(--cg) );
    max-width: calc( 75% - var(--cg) ); }

  [class*="row"] > .col-sm-10 {
    flex-basis: calc( 83.3333333333% - var(--cg) );
    max-width: calc( 83.3333333333% - var(--cg) ); }

  [class*="row"] > .col-sm-11 {
    flex-basis: calc( 91.6666666667% - var(--cg) );
    max-width: calc( 91.6666666667% - var(--cg) ); }

  [class*="row"] > .col-sm-12 {
    flex-basis: calc( 100% - var(--cg) );
    max-width: calc( 100% - var(--cg) ); }

  [class*="row"].gut-1-sm {
    --cg:1.5rem;
    --rg:1.5rem; }
    [class*="row"].gut-1-sm.c-op {
      --cg:1.5rem; }
    [class*="row"].gut-1-sm.c-ob {
      --rg:1.5rem ; }
    [class*="row"].gut-1-sm.c-ob-lg {
      --rg:1.5rem ; }
    [class*="row"].gut-1-sm.c-ob-md {
      --rg:1.5rem ; }
    [class*="row"].gut-1-sm.c-ob-sm {
      --rg:1.5rem ; }
    [class*="row"].gut-1-sm.c-ob-xs {
      --rg:1.5rem ; }
    [class*="row"].gut-1-sm.c-ob-ms {
      --rg:1.5rem ; }
    [class*="row"].gut-1-sm .tc-sm-ob {
      padding-bottom: 1.5rem; }

  [class*="row"].gut-2-sm {
    --cg:2.5rem;
    --rg:2.5rem; }
    [class*="row"].gut-2-sm.c-op {
      --cg:2.5rem; }
    [class*="row"].gut-2-sm.c-ob {
      --rg:2.5rem ; }
    [class*="row"].gut-2-sm.c-ob-lg {
      --rg:2.5rem ; }
    [class*="row"].gut-2-sm.c-ob-md {
      --rg:2.5rem ; }
    [class*="row"].gut-2-sm.c-ob-sm {
      --rg:2.5rem ; }
    [class*="row"].gut-2-sm.c-ob-xs {
      --rg:2.5rem ; }
    [class*="row"].gut-2-sm.c-ob-ms {
      --rg:2.5rem ; }
    [class*="row"].gut-2-sm .tc-sm-ob {
      padding-bottom: 2.5rem; }

  [class*="row"].-gut-1-sm {
    --cg:0.6rem;
    --rg:0.6rem; }
    [class*="row"].-gut-1-sm.c-op {
      --cg:0.6rem; }
    [class*="row"].-gut-1-sm.c-ob {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-sm.c-ob-lg {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-sm.c-ob-md {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-sm.c-ob-sm {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-sm.c-ob-xs {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-sm.c-ob-ms {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-sm .tc-sm-ob {
      padding-bottom: 0.6rem; }

  [class*="row"].-gut-2-sm {
    --cg:0.3rem;
    --rg:0.3rem; }
    [class*="row"].-gut-2-sm.c-op {
      --cg:0.3rem; }
    [class*="row"].-gut-2-sm.c-ob {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-sm.c-ob-lg {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-sm.c-ob-md {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-sm.c-ob-sm {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-sm.c-ob-xs {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-sm.c-ob-ms {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-sm .tc-sm-ob {
      padding-bottom: 0.3rem; }

  [class*="row"].gut-0-sm {
    --cg:1rem;
    --rg:1rem; }
    [class*="row"].gut-0-sm.c-op {
      --cg:1rem; }
    [class*="row"].gut-0-sm.c-ob {
      --rg:1rem ; }
    [class*="row"].gut-0-sm.c-ob-lg {
      --rg:1rem ; }
    [class*="row"].gut-0-sm.c-ob-md {
      --rg:1rem ; }
    [class*="row"].gut-0-sm.c-ob-sm {
      --rg:1rem ; }
    [class*="row"].gut-0-sm.c-ob-xs {
      --rg:1rem ; }
    [class*="row"].gut-0-sm.c-ob-ms {
      --rg:1rem ; }
    [class*="row"].gut-0-sm .tc-sm-ob {
      padding-bottom: 1rem; }

  [class*="row"].center-sm {
    justify-content: center; }
  [class*="row"].end-sm {
    justify-content: flex-end; }
  [class*="row"].start-sm {
    justify-content: flex-start; }
  [class*="row"].between-sm {
    justify-content: space-between; }
  [class*="row"].around-sm {
    justify-content: space-around; }
  [class*="row"].top-sm {
    align-items: flex-start; }
  [class*="row"].middle-sm {
    align-items: center; }
  [class*="row"].bottom-sm {
    align-items: flex-end; }
  [class*="row"].stretch-sm {
    align-items: stretch; }
  [class*="row"].baseline-sm {
    align-items: baseline; }
  [class*="row"].direct-x-sm {
    flex-direction: row; }
  [class*="row"].direct-xr-sm {
    flex-direction: row-reverse; }
  [class*="row"].direct-yr-sm {
    flex-direction: column-reverse; }
  [class*="row"].direct-y-sm {
    flex-direction: column; }
  [class*="row"].direct-yr-sm > [class*="col"], [class*="row"].direct-y-sm > [class*="col"] {
    flex-basis: auto;
    width: 100%; }
  [class*="row"].c-op-sm {
    column-gap: var(--cg); }
  [class*="row"].c-nb-sm {
    row-gap: 0; }
  [class*="row"].c-ob-sm {
    row-gap: var(--cg); }
  [class*="row"].c-nf-sm > * {
    flex: none; }

  [class*="row"] .tc-sm-top {
    align-self: flex-start; }
  [class*="row"] .tc-sm-middle {
    align-self: center; }
  [class*="row"] .tc-sm-bottom {
    align-self: flex-end; }
  [class*="row"] .tc-sm-first {
    order: -1; }
  [class*="row"] .tc-sm-last {
    order: 1; }
  [class*="row"] .tc-sm-ns {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
  [class*="row"] .tc-sm-ob {
    padding-bottom: 1rem; }
  [class*="row"] .tc-sm-nb {
    padding-bottom: 0 !important; }

  [class*="row"] > *.left-sm-0 {
    margin-left: 0; }
  [class*="row"] > *.right-sm-0 {
    margin-right: 0; }
  [class*="row"] > *.left-sm-1 {
    margin-left: 8.3333333333%; }
  [class*="row"] > *.left-sm-2 {
    margin-left: 16.6666666667%; }
  [class*="row"] > *.left-sm-3 {
    margin-left: 25%; }
  [class*="row"] > *.left-sm-4 {
    margin-left: 33.3333333333%; }
  [class*="row"] > *.left-sm-5 {
    margin-left: 41.6666666667%; }
  [class*="row"] > *.left-sm-6 {
    margin-left: 50%; }
  [class*="row"] > *.left-sm-7 {
    margin-left: 58.3333333333%; }
  [class*="row"] > *.left-sm-8 {
    margin-left: 66.6666666667%; }
  [class*="row"] > *.left-sm-9 {
    margin-left: 75%; }
  [class*="row"] > *.left-sm-10 {
    margin-left: 83.3333333333%; }
  [class*="row"] > *.left-sm-11 {
    margin-left: 91.6666666667%; }
  [class*="row"] > *.right-sm-1 {
    margin-right: 8.3333333333%; }
  [class*="row"] > *.right-sm-2 {
    margin-right: 16.6666666667%; }
  [class*="row"] > *.right-sm-3 {
    margin-right: 25%; }
  [class*="row"] > *.right-sm-4 {
    margin-right: 33.3333333333%; }
  [class*="row"] > *.right-sm-5 {
    margin-right: 41.6666666667%; }
  [class*="row"] > *.right-sm-6 {
    margin-right: 50%; }
  [class*="row"] > *.right-sm-7 {
    margin-right: 58.3333333333%; }
  [class*="row"] > *.right-sm-8 {
    margin-right: 66.6666666667%; }
  [class*="row"] > *.right-sm-9 {
    margin-right: 75%; }
  [class*="row"] > *.right-sm-10 {
    margin-right: 83.3333333333%; }
  [class*="row"] > *.right-sm-11 {
    margin-right: 91.6666666667%; }

  [class*="row"] > .order-sm-1 {
    order: 1; }

  [class*="row"] > .order-sm-2 {
    order: 2; }

  [class*="row"] > .order-sm-3 {
    order: 3; }

  [class*="row"] > .order-sm-4 {
    order: 4; }

  [class*="row"] > .order-sm-5 {
    order: 5; }

  [class*="row"] > .order-sm-6 {
    order: 6; }

  [class*="row"] > .order-sm-7 {
    order: 7; }

  [class*="row"] > .order-sm-8 {
    order: 8; }

  [class*="row"] > .order-sm-9 {
    order: 9; }

  [class*="row"] > .order-sm-10 {
    order: 10; }

  [class*="row"] > .order-sm-11 {
    order: 11; }

  [class*="row"] > .order-sm-12 {
    order: 12; }

  [class*="row"] > .order-sm-13 {
    order: 13; }

  [class*="row"] > .order-sm-14 {
    order: 14; }

  [class*="row"] > .order-sm-15 {
    order: 15; }

  [class*="row"] > .order-sm-16 {
    order: 16; }

  [class*="row"] > .order-sm-17 {
    order: 17; }

  [class*="row"] > .order-sm-18 {
    order: 18; }

  [class*="row"] > .order-sm-19 {
    order: 19; }

  [class*="row"] > .order-sm-20 {
    order: 20; } }
@media screen and (max-width: 35.5em) {
  .row-xs-1 > [class*="col"] {
    flex-basis: calc( 100% - var(--cg) );
    max-width: calc( 100% - var(--cg) ); }

  .row-xs-2 > [class*="col"] {
    flex-basis: calc( 50% - var(--cg) );
    max-width: calc( 50% - var(--cg) ); }

  .row-xs-3 > [class*="col"] {
    flex-basis: calc( 33.3333333333% - var(--cg) );
    max-width: calc( 33.3333333333% - var(--cg) ); }

  .row-xs-4 > [class*="col"] {
    flex-basis: calc( 25% - var(--cg) );
    max-width: calc( 25% - var(--cg) ); }

  .row-xs-5 > [class*="col"] {
    flex-basis: calc( 20% - var(--cg) );
    max-width: calc( 20% - var(--cg) ); }

  .row-xs-6 > [class*="col"] {
    flex-basis: calc( 16.6666666667% - var(--cg) );
    max-width: calc( 16.6666666667% - var(--cg) ); }

  .row-xs-7 > [class*="col"] {
    flex-basis: calc( 14.2857142857% - var(--cg) );
    max-width: calc( 14.2857142857% - var(--cg) ); }

  .row-xs-8 > [class*="col"] {
    flex-basis: calc( 12.5% - var(--cg) );
    max-width: calc( 12.5% - var(--cg) ); }

  .row-xs-9 > [class*="col"] {
    flex-basis: calc( 11.1111111111% - var(--cg) );
    max-width: calc( 11.1111111111% - var(--cg) ); }

  .row-xs-10 > [class*="col"] {
    flex-basis: calc( 10% - var(--cg) );
    max-width: calc( 10% - var(--cg) ); }

  .row-xs-11 > [class*="col"] {
    flex-basis: calc( 9.0909090909% - var(--cg) );
    max-width: calc( 9.0909090909% - var(--cg) ); }

  .row-xs-12 > [class*="col"] {
    flex-basis: calc( 8.3333333333% - var(--cg) );
    max-width: calc( 8.3333333333% - var(--cg) ); }

  [class*="row"] > .col-xs-1 {
    flex-basis: calc( 8.3333333333% - var(--cg) );
    max-width: calc( 8.3333333333% - var(--cg) ); }

  [class*="row"] > .col-xs-2 {
    flex-basis: calc( 16.6666666667% - var(--cg) );
    max-width: calc( 16.6666666667% - var(--cg) ); }

  [class*="row"] > .col-xs-3 {
    flex-basis: calc( 25% - var(--cg) );
    max-width: calc( 25% - var(--cg) ); }

  [class*="row"] > .col-xs-4 {
    flex-basis: calc( 33.3333333333% - var(--cg) );
    max-width: calc( 33.3333333333% - var(--cg) ); }

  [class*="row"] > .col-xs-5 {
    flex-basis: calc( 41.6666666667% - var(--cg) );
    max-width: calc( 41.6666666667% - var(--cg) ); }

  [class*="row"] > .col-xs-6 {
    flex-basis: calc( 50% - var(--cg) );
    max-width: calc( 50% - var(--cg) ); }

  [class*="row"] > .col-xs-7 {
    flex-basis: calc( 58.3333333333% - var(--cg) );
    max-width: calc( 58.3333333333% - var(--cg) ); }

  [class*="row"] > .col-xs-8 {
    flex-basis: calc( 66.6666666667% - var(--cg) );
    max-width: calc( 66.6666666667% - var(--cg) ); }

  [class*="row"] > .col-xs-9 {
    flex-basis: calc( 75% - var(--cg) );
    max-width: calc( 75% - var(--cg) ); }

  [class*="row"] > .col-xs-10 {
    flex-basis: calc( 83.3333333333% - var(--cg) );
    max-width: calc( 83.3333333333% - var(--cg) ); }

  [class*="row"] > .col-xs-11 {
    flex-basis: calc( 91.6666666667% - var(--cg) );
    max-width: calc( 91.6666666667% - var(--cg) ); }

  [class*="row"] > .col-xs-12 {
    flex-basis: calc( 100% - var(--cg) );
    max-width: calc( 100% - var(--cg) ); }

  [class*="row"].gut-1-xs {
    --cg:1.5rem;
    --rg:1.5rem; }
    [class*="row"].gut-1-xs.c-op {
      --cg:1.5rem; }
    [class*="row"].gut-1-xs.c-ob {
      --rg:1.5rem ; }
    [class*="row"].gut-1-xs.c-ob-lg {
      --rg:1.5rem ; }
    [class*="row"].gut-1-xs.c-ob-md {
      --rg:1.5rem ; }
    [class*="row"].gut-1-xs.c-ob-sm {
      --rg:1.5rem ; }
    [class*="row"].gut-1-xs.c-ob-xs {
      --rg:1.5rem ; }
    [class*="row"].gut-1-xs.c-ob-ms {
      --rg:1.5rem ; }
    [class*="row"].gut-1-xs .tc-xs-ob {
      padding-bottom: 1.5rem; }

  [class*="row"].gut-2-xs {
    --cg:2.5rem;
    --rg:2.5rem; }
    [class*="row"].gut-2-xs.c-op {
      --cg:2.5rem; }
    [class*="row"].gut-2-xs.c-ob {
      --rg:2.5rem ; }
    [class*="row"].gut-2-xs.c-ob-lg {
      --rg:2.5rem ; }
    [class*="row"].gut-2-xs.c-ob-md {
      --rg:2.5rem ; }
    [class*="row"].gut-2-xs.c-ob-sm {
      --rg:2.5rem ; }
    [class*="row"].gut-2-xs.c-ob-xs {
      --rg:2.5rem ; }
    [class*="row"].gut-2-xs.c-ob-ms {
      --rg:2.5rem ; }
    [class*="row"].gut-2-xs .tc-xs-ob {
      padding-bottom: 2.5rem; }

  [class*="row"].-gut-1-xs {
    --cg:0.6rem;
    --rg:0.6rem; }
    [class*="row"].-gut-1-xs.c-op {
      --cg:0.6rem; }
    [class*="row"].-gut-1-xs.c-ob {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-xs.c-ob-lg {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-xs.c-ob-md {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-xs.c-ob-sm {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-xs.c-ob-xs {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-xs.c-ob-ms {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-xs .tc-xs-ob {
      padding-bottom: 0.6rem; }

  [class*="row"].-gut-2-xs {
    --cg:0.3rem;
    --rg:0.3rem; }
    [class*="row"].-gut-2-xs.c-op {
      --cg:0.3rem; }
    [class*="row"].-gut-2-xs.c-ob {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-xs.c-ob-lg {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-xs.c-ob-md {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-xs.c-ob-sm {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-xs.c-ob-xs {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-xs.c-ob-ms {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-xs .tc-xs-ob {
      padding-bottom: 0.3rem; }

  [class*="row"].gut-0-xs {
    --cg:1rem;
    --rg:1rem; }
    [class*="row"].gut-0-xs.c-op {
      --cg:1rem; }
    [class*="row"].gut-0-xs.c-ob {
      --rg:1rem ; }
    [class*="row"].gut-0-xs.c-ob-lg {
      --rg:1rem ; }
    [class*="row"].gut-0-xs.c-ob-md {
      --rg:1rem ; }
    [class*="row"].gut-0-xs.c-ob-sm {
      --rg:1rem ; }
    [class*="row"].gut-0-xs.c-ob-xs {
      --rg:1rem ; }
    [class*="row"].gut-0-xs.c-ob-ms {
      --rg:1rem ; }
    [class*="row"].gut-0-xs .tc-xs-ob {
      padding-bottom: 1rem; }

  [class*="row"].center-xs {
    justify-content: center; }
  [class*="row"].end-xs {
    justify-content: flex-end; }
  [class*="row"].start-xs {
    justify-content: flex-start; }
  [class*="row"].between-xs {
    justify-content: space-between; }
  [class*="row"].around-xs {
    justify-content: space-around; }
  [class*="row"].top-xs {
    align-items: flex-start; }
  [class*="row"].middle-xs {
    align-items: center; }
  [class*="row"].bottom-xs {
    align-items: flex-end; }
  [class*="row"].stretch-xs {
    align-items: stretch; }
  [class*="row"].baseline-xs {
    align-items: baseline; }
  [class*="row"].direct-x-xs {
    flex-direction: row; }
  [class*="row"].direct-xr-xs {
    flex-direction: row-reverse; }
  [class*="row"].direct-yr-xs {
    flex-direction: column-reverse; }
  [class*="row"].direct-y-xs {
    flex-direction: column; }
  [class*="row"].direct-yr-xs > [class*="col"], [class*="row"].direct-y-xs > [class*="col"] {
    flex-basis: auto;
    width: 100%; }
  [class*="row"].c-op-xs {
    column-gap: var(--cg); }
  [class*="row"].c-nb-xs {
    row-gap: 0; }
  [class*="row"].c-ob-xs {
    row-gap: var(--cg); }
  [class*="row"].c-nf-xs > * {
    flex: none; }

  [class*="row"] .tc-xs-top {
    align-self: flex-start; }
  [class*="row"] .tc-xs-middle {
    align-self: center; }
  [class*="row"] .tc-xs-bottom {
    align-self: flex-end; }
  [class*="row"] .tc-xs-first {
    order: -1; }
  [class*="row"] .tc-xs-last {
    order: 1; }
  [class*="row"] .tc-xs-ns {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
  [class*="row"] .tc-xs-ob {
    padding-bottom: 1rem; }
  [class*="row"] .tc-xs-nb {
    padding-bottom: 0 !important; }

  [class*="row"] > *.left-xs-0 {
    margin-left: 0; }
  [class*="row"] > *.right-xs-0 {
    margin-right: 0; }
  [class*="row"] > *.left-xs-1 {
    margin-left: 8.3333333333%; }
  [class*="row"] > *.left-xs-2 {
    margin-left: 16.6666666667%; }
  [class*="row"] > *.left-xs-3 {
    margin-left: 25%; }
  [class*="row"] > *.left-xs-4 {
    margin-left: 33.3333333333%; }
  [class*="row"] > *.left-xs-5 {
    margin-left: 41.6666666667%; }
  [class*="row"] > *.left-xs-6 {
    margin-left: 50%; }
  [class*="row"] > *.left-xs-7 {
    margin-left: 58.3333333333%; }
  [class*="row"] > *.left-xs-8 {
    margin-left: 66.6666666667%; }
  [class*="row"] > *.left-xs-9 {
    margin-left: 75%; }
  [class*="row"] > *.left-xs-10 {
    margin-left: 83.3333333333%; }
  [class*="row"] > *.left-xs-11 {
    margin-left: 91.6666666667%; }
  [class*="row"] > *.right-xs-1 {
    margin-right: 8.3333333333%; }
  [class*="row"] > *.right-xs-2 {
    margin-right: 16.6666666667%; }
  [class*="row"] > *.right-xs-3 {
    margin-right: 25%; }
  [class*="row"] > *.right-xs-4 {
    margin-right: 33.3333333333%; }
  [class*="row"] > *.right-xs-5 {
    margin-right: 41.6666666667%; }
  [class*="row"] > *.right-xs-6 {
    margin-right: 50%; }
  [class*="row"] > *.right-xs-7 {
    margin-right: 58.3333333333%; }
  [class*="row"] > *.right-xs-8 {
    margin-right: 66.6666666667%; }
  [class*="row"] > *.right-xs-9 {
    margin-right: 75%; }
  [class*="row"] > *.right-xs-10 {
    margin-right: 83.3333333333%; }
  [class*="row"] > *.right-xs-11 {
    margin-right: 91.6666666667%; }

  [class*="row"] > .order-xs-1 {
    order: 1; }

  [class*="row"] > .order-xs-2 {
    order: 2; }

  [class*="row"] > .order-xs-3 {
    order: 3; }

  [class*="row"] > .order-xs-4 {
    order: 4; }

  [class*="row"] > .order-xs-5 {
    order: 5; }

  [class*="row"] > .order-xs-6 {
    order: 6; }

  [class*="row"] > .order-xs-7 {
    order: 7; }

  [class*="row"] > .order-xs-8 {
    order: 8; }

  [class*="row"] > .order-xs-9 {
    order: 9; }

  [class*="row"] > .order-xs-10 {
    order: 10; }

  [class*="row"] > .order-xs-11 {
    order: 11; }

  [class*="row"] > .order-xs-12 {
    order: 12; }

  [class*="row"] > .order-xs-13 {
    order: 13; }

  [class*="row"] > .order-xs-14 {
    order: 14; }

  [class*="row"] > .order-xs-15 {
    order: 15; }

  [class*="row"] > .order-xs-16 {
    order: 16; }

  [class*="row"] > .order-xs-17 {
    order: 17; }

  [class*="row"] > .order-xs-18 {
    order: 18; }

  [class*="row"] > .order-xs-19 {
    order: 19; }

  [class*="row"] > .order-xs-20 {
    order: 20; } }
@media screen and (max-width: 23.5em) {
  .row-ms-1 > [class*="col"] {
    flex-basis: calc( 100% - var(--cg) );
    max-width: calc( 100% - var(--cg) ); }

  .row-ms-2 > [class*="col"] {
    flex-basis: calc( 50% - var(--cg) );
    max-width: calc( 50% - var(--cg) ); }

  .row-ms-3 > [class*="col"] {
    flex-basis: calc( 33.3333333333% - var(--cg) );
    max-width: calc( 33.3333333333% - var(--cg) ); }

  .row-ms-4 > [class*="col"] {
    flex-basis: calc( 25% - var(--cg) );
    max-width: calc( 25% - var(--cg) ); }

  .row-ms-5 > [class*="col"] {
    flex-basis: calc( 20% - var(--cg) );
    max-width: calc( 20% - var(--cg) ); }

  .row-ms-6 > [class*="col"] {
    flex-basis: calc( 16.6666666667% - var(--cg) );
    max-width: calc( 16.6666666667% - var(--cg) ); }

  .row-ms-7 > [class*="col"] {
    flex-basis: calc( 14.2857142857% - var(--cg) );
    max-width: calc( 14.2857142857% - var(--cg) ); }

  .row-ms-8 > [class*="col"] {
    flex-basis: calc( 12.5% - var(--cg) );
    max-width: calc( 12.5% - var(--cg) ); }

  .row-ms-9 > [class*="col"] {
    flex-basis: calc( 11.1111111111% - var(--cg) );
    max-width: calc( 11.1111111111% - var(--cg) ); }

  .row-ms-10 > [class*="col"] {
    flex-basis: calc( 10% - var(--cg) );
    max-width: calc( 10% - var(--cg) ); }

  .row-ms-11 > [class*="col"] {
    flex-basis: calc( 9.0909090909% - var(--cg) );
    max-width: calc( 9.0909090909% - var(--cg) ); }

  .row-ms-12 > [class*="col"] {
    flex-basis: calc( 8.3333333333% - var(--cg) );
    max-width: calc( 8.3333333333% - var(--cg) ); }

  [class*="row"] > .col-ms-1 {
    flex-basis: calc( 8.3333333333% - var(--cg) );
    max-width: calc( 8.3333333333% - var(--cg) ); }

  [class*="row"] > .col-ms-2 {
    flex-basis: calc( 16.6666666667% - var(--cg) );
    max-width: calc( 16.6666666667% - var(--cg) ); }

  [class*="row"] > .col-ms-3 {
    flex-basis: calc( 25% - var(--cg) );
    max-width: calc( 25% - var(--cg) ); }

  [class*="row"] > .col-ms-4 {
    flex-basis: calc( 33.3333333333% - var(--cg) );
    max-width: calc( 33.3333333333% - var(--cg) ); }

  [class*="row"] > .col-ms-5 {
    flex-basis: calc( 41.6666666667% - var(--cg) );
    max-width: calc( 41.6666666667% - var(--cg) ); }

  [class*="row"] > .col-ms-6 {
    flex-basis: calc( 50% - var(--cg) );
    max-width: calc( 50% - var(--cg) ); }

  [class*="row"] > .col-ms-7 {
    flex-basis: calc( 58.3333333333% - var(--cg) );
    max-width: calc( 58.3333333333% - var(--cg) ); }

  [class*="row"] > .col-ms-8 {
    flex-basis: calc( 66.6666666667% - var(--cg) );
    max-width: calc( 66.6666666667% - var(--cg) ); }

  [class*="row"] > .col-ms-9 {
    flex-basis: calc( 75% - var(--cg) );
    max-width: calc( 75% - var(--cg) ); }

  [class*="row"] > .col-ms-10 {
    flex-basis: calc( 83.3333333333% - var(--cg) );
    max-width: calc( 83.3333333333% - var(--cg) ); }

  [class*="row"] > .col-ms-11 {
    flex-basis: calc( 91.6666666667% - var(--cg) );
    max-width: calc( 91.6666666667% - var(--cg) ); }

  [class*="row"] > .col-ms-12 {
    flex-basis: calc( 100% - var(--cg) );
    max-width: calc( 100% - var(--cg) ); }

  [class*="row"].gut-1-ms {
    --cg:1.5rem;
    --rg:1.5rem; }
    [class*="row"].gut-1-ms.c-op {
      --cg:1.5rem; }
    [class*="row"].gut-1-ms.c-ob {
      --rg:1.5rem ; }
    [class*="row"].gut-1-ms.c-ob-lg {
      --rg:1.5rem ; }
    [class*="row"].gut-1-ms.c-ob-md {
      --rg:1.5rem ; }
    [class*="row"].gut-1-ms.c-ob-sm {
      --rg:1.5rem ; }
    [class*="row"].gut-1-ms.c-ob-xs {
      --rg:1.5rem ; }
    [class*="row"].gut-1-ms.c-ob-ms {
      --rg:1.5rem ; }
    [class*="row"].gut-1-ms .tc-ms-ob {
      padding-bottom: 1.5rem; }

  [class*="row"].gut-2-ms {
    --cg:2.5rem;
    --rg:2.5rem; }
    [class*="row"].gut-2-ms.c-op {
      --cg:2.5rem; }
    [class*="row"].gut-2-ms.c-ob {
      --rg:2.5rem ; }
    [class*="row"].gut-2-ms.c-ob-lg {
      --rg:2.5rem ; }
    [class*="row"].gut-2-ms.c-ob-md {
      --rg:2.5rem ; }
    [class*="row"].gut-2-ms.c-ob-sm {
      --rg:2.5rem ; }
    [class*="row"].gut-2-ms.c-ob-xs {
      --rg:2.5rem ; }
    [class*="row"].gut-2-ms.c-ob-ms {
      --rg:2.5rem ; }
    [class*="row"].gut-2-ms .tc-ms-ob {
      padding-bottom: 2.5rem; }

  [class*="row"].-gut-1-ms {
    --cg:0.6rem;
    --rg:0.6rem; }
    [class*="row"].-gut-1-ms.c-op {
      --cg:0.6rem; }
    [class*="row"].-gut-1-ms.c-ob {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-ms.c-ob-lg {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-ms.c-ob-md {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-ms.c-ob-sm {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-ms.c-ob-xs {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-ms.c-ob-ms {
      --rg:0.6rem ; }
    [class*="row"].-gut-1-ms .tc-ms-ob {
      padding-bottom: 0.6rem; }

  [class*="row"].-gut-2-ms {
    --cg:0.3rem;
    --rg:0.3rem; }
    [class*="row"].-gut-2-ms.c-op {
      --cg:0.3rem; }
    [class*="row"].-gut-2-ms.c-ob {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-ms.c-ob-lg {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-ms.c-ob-md {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-ms.c-ob-sm {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-ms.c-ob-xs {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-ms.c-ob-ms {
      --rg:0.3rem ; }
    [class*="row"].-gut-2-ms .tc-ms-ob {
      padding-bottom: 0.3rem; }

  [class*="row"].gut-0-ms {
    --cg:1rem;
    --rg:1rem; }
    [class*="row"].gut-0-ms.c-op {
      --cg:1rem; }
    [class*="row"].gut-0-ms.c-ob {
      --rg:1rem ; }
    [class*="row"].gut-0-ms.c-ob-lg {
      --rg:1rem ; }
    [class*="row"].gut-0-ms.c-ob-md {
      --rg:1rem ; }
    [class*="row"].gut-0-ms.c-ob-sm {
      --rg:1rem ; }
    [class*="row"].gut-0-ms.c-ob-xs {
      --rg:1rem ; }
    [class*="row"].gut-0-ms.c-ob-ms {
      --rg:1rem ; }
    [class*="row"].gut-0-ms .tc-ms-ob {
      padding-bottom: 1rem; }

  [class*="row"].center-ms {
    justify-content: center; }
  [class*="row"].end-ms {
    justify-content: flex-end; }
  [class*="row"].start-ms {
    justify-content: flex-start; }
  [class*="row"].between-ms {
    justify-content: space-between; }
  [class*="row"].around-ms {
    justify-content: space-around; }
  [class*="row"].top-ms {
    align-items: flex-start; }
  [class*="row"].middle-ms {
    align-items: center; }
  [class*="row"].bottom-ms {
    align-items: flex-end; }
  [class*="row"].stretch-ms {
    align-items: stretch; }
  [class*="row"].baseline-ms {
    align-items: baseline; }
  [class*="row"].direct-x-ms {
    flex-direction: row; }
  [class*="row"].direct-xr-ms {
    flex-direction: row-reverse; }
  [class*="row"].direct-yr-ms {
    flex-direction: column-reverse; }
  [class*="row"].direct-y-ms {
    flex-direction: column; }
  [class*="row"].direct-yr-ms > [class*="col"], [class*="row"].direct-y-ms > [class*="col"] {
    flex-basis: auto;
    width: 100%; }
  [class*="row"].c-op-ms {
    column-gap: var(--cg); }
  [class*="row"].c-nb-ms {
    row-gap: 0; }
  [class*="row"].c-ob-ms {
    row-gap: var(--cg); }
  [class*="row"].c-nf-ms > * {
    flex: none; }

  [class*="row"] .tc-ms-top {
    align-self: flex-start; }
  [class*="row"] .tc-ms-middle {
    align-self: center; }
  [class*="row"] .tc-ms-bottom {
    align-self: flex-end; }
  [class*="row"] .tc-ms-first {
    order: -1; }
  [class*="row"] .tc-ms-last {
    order: 1; }
  [class*="row"] .tc-ms-ns {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
  [class*="row"] .tc-ms-ob {
    padding-bottom: 1rem; }
  [class*="row"] .tc-ms-nb {
    padding-bottom: 0 !important; }

  [class*="row"] > *.left-ms-0 {
    margin-left: 0; }
  [class*="row"] > *.right-ms-0 {
    margin-right: 0; }
  [class*="row"] > *.left-ms-1 {
    margin-left: 8.3333333333%; }
  [class*="row"] > *.left-ms-2 {
    margin-left: 16.6666666667%; }
  [class*="row"] > *.left-ms-3 {
    margin-left: 25%; }
  [class*="row"] > *.left-ms-4 {
    margin-left: 33.3333333333%; }
  [class*="row"] > *.left-ms-5 {
    margin-left: 41.6666666667%; }
  [class*="row"] > *.left-ms-6 {
    margin-left: 50%; }
  [class*="row"] > *.left-ms-7 {
    margin-left: 58.3333333333%; }
  [class*="row"] > *.left-ms-8 {
    margin-left: 66.6666666667%; }
  [class*="row"] > *.left-ms-9 {
    margin-left: 75%; }
  [class*="row"] > *.left-ms-10 {
    margin-left: 83.3333333333%; }
  [class*="row"] > *.left-ms-11 {
    margin-left: 91.6666666667%; }
  [class*="row"] > *.right-ms-1 {
    margin-right: 8.3333333333%; }
  [class*="row"] > *.right-ms-2 {
    margin-right: 16.6666666667%; }
  [class*="row"] > *.right-ms-3 {
    margin-right: 25%; }
  [class*="row"] > *.right-ms-4 {
    margin-right: 33.3333333333%; }
  [class*="row"] > *.right-ms-5 {
    margin-right: 41.6666666667%; }
  [class*="row"] > *.right-ms-6 {
    margin-right: 50%; }
  [class*="row"] > *.right-ms-7 {
    margin-right: 58.3333333333%; }
  [class*="row"] > *.right-ms-8 {
    margin-right: 66.6666666667%; }
  [class*="row"] > *.right-ms-9 {
    margin-right: 75%; }
  [class*="row"] > *.right-ms-10 {
    margin-right: 83.3333333333%; }
  [class*="row"] > *.right-ms-11 {
    margin-right: 91.6666666667%; }

  [class*="row"] > .order-ms-1 {
    order: 1; }

  [class*="row"] > .order-ms-2 {
    order: 2; }

  [class*="row"] > .order-ms-3 {
    order: 3; }

  [class*="row"] > .order-ms-4 {
    order: 4; }

  [class*="row"] > .order-ms-5 {
    order: 5; }

  [class*="row"] > .order-ms-6 {
    order: 6; }

  [class*="row"] > .order-ms-7 {
    order: 7; }

  [class*="row"] > .order-ms-8 {
    order: 8; }

  [class*="row"] > .order-ms-9 {
    order: 9; }

  [class*="row"] > .order-ms-10 {
    order: 10; }

  [class*="row"] > .order-ms-11 {
    order: 11; }

  [class*="row"] > .order-ms-12 {
    order: 12; }

  [class*="row"] > .order-ms-13 {
    order: 13; }

  [class*="row"] > .order-ms-14 {
    order: 14; }

  [class*="row"] > .order-ms-15 {
    order: 15; }

  [class*="row"] > .order-ms-16 {
    order: 16; }

  [class*="row"] > .order-ms-17 {
    order: 17; }

  [class*="row"] > .order-ms-18 {
    order: 18; }

  [class*="row"] > .order-ms-19 {
    order: 19; }

  [class*="row"] > .order-ms-20 {
    order: 20; } }
