/*
 @ Front-end Developer by Ali Akman (alico) -  Reponsive Kit's
 @ https://github.com/thealico/flexboxgrid
 @ http://alico.me  */

@import "set";


// mixin

@mixin makeHtmlKits($tag:false)
{
  	
	// block's hidden

	.hidden#{$tag} 				{ display:none;  &.import { display:none!important } }
	
	// block's visible

	.visible#{$tag} 			{ display:block }
	.visible-inline#{$tag} 		{ display:inline }
	.visible-flex#{$tag} 		{ display:flex }
	
	// block's

	.none#{$tag}				{ display:none; 	&.import { display:none!important } }
	.block#{$tag}				{ display:block; 	&.import { display:block!important } }
	.inline#{$tag}				{ display:inline; 	&.import { display:inline!important }	}
	.flex#{$tag} 				{ display:flex;		&.import { display:flex!important } }

	

	.float-none#{$tag} > * 		{ float: none }

	// position's
	.relative#{$tag} 			{ position:relative }
	.absolute#{$tag} 			{ position:absolute }
	.static#{$tag} 				{ position:static }
	.fixed#{$tag} 				{ position:fixed }
	
	// text's

	.t-ctr#{$tag} 				{ text-align:center }
	.t-rgt#{$tag} 				{ text-align:right }
	.t-lft#{$tag} 				{ text-align:left }
	.t-jtf#{$tag} 				{ text-align:justify }

 	/*
 	@ birimler  */

 	.w-auto#{$tag} 				{ width:auto }
 	.h-auto#{$tag} 				{ height:auto }

 	.mb0#{$tag} 				{ margin-botom:0 }
 	.pt0#{$tag} 				{ padding-top:0 }
 	.mt0#{$tag} 				{ margin-top:0 }
	

 	$say:5;

	@for $i from 1 through 100 {
		@if $say == $i{
			
			.mb#{$i}#{$tag} 	 { margin-bottom:#{$i}#{'px'} }
			.mt#{$i}#{$tag} 	 { margin-top:#{$i}#{'px'} }
			.pt#{$i}#{$tag}  	 { padding-top:#{1i}#{'px'} }
			.w#{$i}#{$tag} 		 { width:#{$i}#{'%'} }
			.h#{$tag}-#{$i} 	 { height:#{$i}#{'%'} }
			
			$say : $say+5;
		}
	}
}



/*
 @ clear groups */

.c:after,
.c-left:after ,       
.c-left-2 > *:after,    
.c-left-3 > * > *:after   	 		{  content:" "; clear: both; display:block  }

/*
 @ child > left */

.c-left > * ,       
.c-left2 > * > *,    
.c-left3 > * > * > *   			 	{ float: left }

/*
 @ Visible */

[class*="visible"] 					{ display:none }

/*
 @ Hidden */

.hidden.import 						{ display:none!important }


/*
@ response  */

@include makeHtmlKits(null);

@media #{$gl-lg} {  @include makeHtmlKits(-lg) }
@media #{$gl-md} {  @include makeHtmlKits(-md) }
@media #{$gl-sm} {  @include makeHtmlKits(-sm) }
@media #{$gl-xs} {  @include makeHtmlKits(-xs) }
@media #{$gl-ms} {  @include makeHtmlKits(-ms) }

